@import "includes/normalize";
@import "includes/fonts";
@import "includes/vars";
@import "libs/slick/slick";
@import "libs/simplebar";
@import "libs/fancybox";
@import "libs/alegar-lib";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  &:active {
    color: inherit;
  }
}

.fixed {
  position: fixed;
  width:100%;
  height: 100%;
  overflow: hidden;
}

@import "pages/index";

@import "blocks/shop";
@import "blocks/trainers";
@import "blocks/courses";
@import "blocks/insta";
@import "blocks/content-section";
@import "blocks/top-section";
@import "blocks/trends";
@import "blocks/map-city";
@import "blocks/request-call";
@import "blocks/menu";

@import "media";
