@import "includes/normalize";
@import "includes/fonts";
@import "includes/vars";
@import "libs/slick/slick";
@import "libs/simplebar";
@import "libs/fancybox";
@import "libs/alegar-lib";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
body {
  font-family: $averta;
}
a {
  text-decoration: none;
  &:active {
    color: inherit;
  }
}

@import "pages/index";
@import "blocks/shop";
@import "blocks/trainers";
@import "media/trainers";
@import "blocks/courses";
@import "media/courses";
@import "blocks/insta";
@import "media/insta";
@import "blocks/content-section";
@import "media/content-section";
@import "blocks/top-section";
@import "media/top-section";
@import "blocks/trends";

@import "media";
