@media (max-width: 1700px) {
  .courses {
    padding-top: 40px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (max-width: 1500px) {
  .courses {
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (max-width: 1300px) {
  .courses {
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 1100px) {
  .courses {
    &__text {
      font-size: 14px;
    }
  }
}
@media (max-width: 950px) {
  .courses {
    &__text {
      font-size: 11px;
      width: 100px;
    }
  }
}
@media (max-width: 420px) {
  .courses {
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    &__item {
      padding: 25px 0;
      width: 70%;
    }
    &__wrapper {
      align-items: center;
    }
    &__text {
      font-size: 16px;
    }
    &__arrow {

    }
  }
}
