@media (max-width: 1650px) {
  .insta__ad {
    height: 19.75vw;
  }
}

@media (max-width: 1250px) {
  .insta__ad {
    height: 19.7vw;
  }
}
@media (max-width: 1100px) {
    .insta {
      justify-content: center;
      align-items: center;
      height: 500px;
      &__tablet-text {
        display: block;
        width: auto;
      }
      &__ad {
        display: none;
      }
      &__photo {
        display: none;
      }
    }
}
@media (max-width: 800px) {
  .insta {
    height: 450px;
  }
}
@media (max-width: 400px) {
  .insta {
    height: 300px;
  }
}