
@media (max-width: 1100px) {
  .top-section {
    background-size: 100% 570px;
    &__logo {
      display: none;
    }
    &__title {
      font-size: 36px;
    }
    &__item, &__slick {
      width: 92%;

    }

  }
}


@media (max-width: 900px) {
  .top-section {
    &__item, &__slick {
      width: 91%;
    }
  }
}
@media (max-width: 800px) {
  .top-section {
    &__item{
      padding: 40px 50px 70px 50px;
      height: 410px;
      width: 90%;
    }
    &__slick{
      height: 410px;
      width: 90%;
    }
    &__caption {
      font-size: 24px;
    }
    &__arrow{
      top: 335px;
    }
  }
}
@media (max-width: 650px) {
  .top-section {
    &__item {
      padding: 40px 50px 70px 20px;
      height: 370px;
      width: 80%;
    }
    &__slick{
      height: 370px;
      width: 80%;
    }
    &__text {
      width: 250px;
      top: 130px;
    }
    &__details {
      top: 290px;
    }
    &__arrow{
      top: 325px;
      height: 24px;
      width: 24px;
      right: 20px;
      &_left{right: 80px}
    }
  }
}
@media (max-width: 550px) {
  .top-section {
    &__title {
      font-size: 24px;
    }
    &__subtitle {
      width: 200px;
    }
    &__item, &__slick {
      width: 79%;
    }
    &__text {
      top: 120px;
    }
    &__details {
      top: 290px;
    }
  }
}
@media (max-width: 500px) {
  .top-section {
    &__caption {
      font-size: 20px;
    }
    &__item, &__slick {
      width: 76%;
    }
    &__arrow{
      top: 339px;
    }
  }
}
@media (max-width: 440px) {
  .top-section {
    &__caption {
      font-size: 16px;
    }
    &__item, &__slick {
      width: 73%;
    }
    &__text {
      width: 250px;
    }
  }
}
@media (max-width: 400px) {
  .top-section {
    &__caption {
      font-size: 20px;
    }
    &__item, &__slick {
      width: 90%;
    }
  }
}
@media (max-width: 350px) {
  .top-section {
    margin-bottom: -370px;
    &__caption {
      font-size: 16px;
    }
    &__text {
      top: 120px;
      width: 240px;
    }

  }
}