@font-face {
    font-family: AvertaDemo;
    src: url("../fonts/AvertaDemoPE-Regular.otf");
}
@font-face {
    font-family: DinPro;
    src: url("../fonts/PFDinTextPro-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: DinPro;
    src: url("../fonts/PFDinTextPro-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}
