.items-grid {
  overflow: hidden;
  padding: 70px 6.5% 0;
  &__top-wrapper {
    display: block;
    width: 380px;
    margin-left: 130px;
  }
  &__back {
    display: block;
    font-size: 16px;
    font-family: "Open Sans";
    color: #212121;
    font-weight: bold;
    line-height: 1.5;
    padding-top: 85px;
    padding-bottom: 35px;
    &:before {
      content: url("../img/arrow.svg");
      padding-right: 15px;
      position: relative;
      top: 2px;
    }
  }
  &__title {
    display: block;
    font-size: 36px;
    font-family: "Open Sans";
    color: #212121;
    font-weight: bold;
    line-height: 1.333;
    padding-bottom: 60px;
  }
  &__wrapper {
    display: block;
    width: 100%;
  }
  &__item {
    border-radius: 15px;
    background-color: #051030;
    width: 375px;
    height: 505px;
    display: inline-block;
    margin-left: 8%;
    margin-bottom: 50px;
  }
}
.paginator {
  display: flex;
  justify-content: center;
    &__page {
      margin: 6px;
      padding: 5px 0;
      width: 33px;
      padding: 5px 0;
      text-align: center;
      border-radius: 100%;
      font-size: 16px;
      font-family: "Open Sans";
      color: #212121;
      font-weight: bold;
      line-height: 1.5;
      &_active {
        background-color: #25aae1;
        color: #FFFFFF;
      }
    }
}
@media(max-width: 1750px) {
  .items-grid__item {
    margin-left: 7.5%;
  }
  .reports {

  }
}
@media(max-width: 1700px) {
  .items-grid__item {
    margin-left: 6%;
  }
  .items-grid__top-wrapper {
    margin-left: 90px;
  }
}
@media(max-width: 1650px) {
  .items-grid__item {
    width: 375px;
    height: 505px;
  }
  .items-grid__top-wrapper {
    margin-left: 80px;
  }
}
@media(max-width: 1550px) {
  .items-grid__item {
    margin-left: 25px;
    margin-right: 25px;
  }
  .items-grid__top-wrapper {
    margin-left: 30px;
  }
}
@media(max-width: 1500px) {
  .items-grid__item {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media(max-width: 1450px) {
    .items-grid{
      padding: 70px 6% 0;
      &__top-wrapper {
        margin-left: 0;
      }
      &__item {
        margin-left: 0;
        margin-right: 25px;
      }
    }
}
@media(max-width: 1450px) {
  .items-grid {
    padding: 70px 4% 0;
  }
}
@media(max-width: 1350px) {
  .items-grid {
    &__item {
      width: 360px;
      height: 455px;
    }
  }
}
@media(max-width: 1300px) {
  .items-grid {
    &__item {
      width: 335px;
      height: 430px;
    }
  }
  .reports__text {
    font-size: 14px;
  }
}
@media(max-width: 1200px) {
  .items-grid {
    &__item {

      width: 300px;
      height: 400px;
    }
  }
  .event {
    padding: 40px 20px 30px;
  }
  .reports {
    &__words {
      padding: 10px 20px 20px;
    }
    &__text {
      padding-bottom: 15px;
    }
    &__history {
      padding-bottom: 15px;
    }
  }
}
@media(max-width: 1100px) {
  .items-grid {
    &__top-wrapper {
      margin-left: 90px;
    }
    &__item {
      width: 335px;
      height: 430px;
      margin-left: 9.5%;
    }
  }
}
@media(max-width: 1050px) {
  .items-grid {
    &__top-wrapper {
      margin-left: 70px;
    }
    &__item {
      margin-left: 8%;
    }
    &__title {
      font-size: 24px;
      width: 250px;
    }
  }
}
@media(max-width: 1000px) {
  .items-grid {
    &__top-wrapper {
      margin-left: 50px;
    }
    &__item {
      margin-left: 6%;
    }
  }
}
@media(max-width: 950px) {
  .items-grid {
    &__item {
      width: 300px;
      height: 400px;
    }
  }
  .event {
    &__date {
      font-size: 24px;
    }
    &__location {
      font-size: 20px;
    }
    &__text {
      font-size: 16px;
    }
  }
  .reports {
    &__words {
      padding: 10px 10px 20px;
    }
    &__text {
      padding-bottom: 10px;
    }
    &__history {
      padding-bottom: 10px;
    }
  }
}
@media(max-width: 950px) {
  .items-grid {
    &__item {
      width: 280px;
      height: 370px;
    }
  }
}
@media(max-width: 800px) {
  .items-grid {
    &__top-wrapper {
      margin-left: 40px;
    }
    &__item {
      width: 245px;
      height: 360px;
    }
  }
  .reports {
    &__text {
      font-size: 12px;
    }
    &__history {
      font-size: 13px;
    }
    &__date {
      font-size: 13px;
    }
  }
}
@media(max-width: 770px) {
  .items-grid {
    &__top-wrapper {
      margin-left: 40px;
    }
    &__title {
      width: 260px;
    }
    &__item {
      width: 275px;
      height: 370px;
    }
  }
  .reports {
    width: 270px;
    height: 370px;
  }
}
@media(max-width: 700px) {
  .items-grid {
    &__item {
      width: 225px;
      height: 330px;
    }
  }
  .reports {
    &__text {
      font-size: 11px;
    }
  }
}
@media(max-width: 650px) {
  .items-grid {
    &__item {
      width: 205px;
      height: 300px;
    }
  }
  .reports {
    &__text {
      font-size: 10px;
    }
  }
}
@media(max-width: 600px) {
  .items-grid {
    &__top-wrapper {
      margin-left: 70px;
    }
    &__item {
      width: 375px;
      height: 505px;
      margin-left: 13%;
    }
  }
  .event {
    &__date {
      font-size: 36px;
      padding-bottom: 20px;
    }
    &__location {
      font-size: 24px;
    }
    &__text {
      font-size: 24px;
    }
  }
  .reports {
    &__text {
      font-size: 16px;
      padding-bottom: 25px;
    }
    &__history {
      font-size: 16px;
      padding-bottom: 25px;
    }
    &__date {
      font-size: 16px;
    }
  }
}
@media(max-width: 550px) {
  .items-grid {
    &__item {
      margin-left: 12%;
    }
  }
}
@media(max-width: 500px) {
  .items-grid {
    &__top-wrapper {
      margin-left: 30px;
    }
    &__item {
      width: 360px;
      height: 455px;
      margin-left: 6%;
    }
  }
}
@media(max-width: 450px) {
  .items-grid {
    &__item {
      width: 340px;
      height: 455px;

    }
  }
}
@media(max-width: 420px) {
  .items-grid {
    &__item {
      width: 320px;
      height: 435px;

    }
  }
  .event {
    &__date {
      font-size: 24px;
    }
    &__location {
      font-size: 20px;
    }
    &__text {
      font-size: 16px;
    }
  }
}
@media(max-width: 400px) {
  .items-grid {
    &__item {
      width: 290px;
      height: 415px;
    }
  }
  .reports {
    &__text {
      font-size: 14px;
      padding-bottom: 15px;
    }
    &__history {
      font-size: 14px;
      padding-bottom: 15px;
    }
    &__date {
      font-size: 14px;
    }
  }
}
@media(max-width: 350px) {
  .items-grid {
    &__item {
      width: 250px;
      height: 360px;
    }
  }
  .reports {
    &__text {
      font-size: 12px;
    }
    &__history {
      font-size: 12px;
    }
    &__date {
      font-size: 12px;
    }
  }
}
@media(max-width: 300px) {
  .items-grid {
    &__item {
      width: 200px;
      height: 300px;
    }
  }
  .reports {
    &__text {
      font-size: 11px;
      padding-bottom: 5px;
    }
    &__history {
      font-size: 11px;
      padding-bottom: 5px;
    }
    &__date {
      font-size: 11px;
    }
  }
}

