.insta {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #4ccef6;
  &__tablet-text {
    width: 100%;
    font-size: 36px;
    font-family: "OpenSans";
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    display: none;
  }
  &__ad {
    width: 20%;
    height: 19.85vw;
  }
  &__text {
    font-size: 1.3vw;
    font-family: "OpenSans";
    color: #212121;
    line-height: 1.5;
    padding-left: 20%;
    padding-top: 15%;
  }
  &__link {
    font-size: 1.2vw;
    font-family: "OpenSans";
    color: #212121;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 20%;
    padding-top: 8%;
  }
  &__photo {
    height: 50%;
    width: 20%;
    display: block;
  }
}
