header {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    font-family: "Open Sans";
    position: fixed;
    z-index: 1000;
}
.header_active {
  #header__nav {
    border-bottom: none;
  }
  .header__city {
    opacity: 0;
  }
  .header__lang {
    opacity: 0;
  }
  .header__items-number {
    top: 20px;
    color: black;
  }
  .header__items {
    background: #fff;
    &-item{
      transition: .4s;
      border-bottom: 4px solid #fff;
      color: black;
    }
  }
}
.header__items-item {
  transition:  .4s;
}
.header__items, #touch-menu{background: #047abe; height: 71px; transition: .4s}
#header__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: center;
    border-bottom: 1px solid #50a2d2;
    width: 100%;
}
.header__items-item, #touch-menu{
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 2.25;
    text-decoration: none;
    padding: 15.2px;
    border-bottom: 4px solid #047abe;
}
.header__items{
  &-mobile{
    display: none;
    flex-direction: column;
    padding-top: 15px;
    &-phone{
      border-top: 1px solid #fafafc;
      font-size: 16px;
      padding-top: 32px;
      padding-left: 15px;
    }
    &-number{
      font-size: 24px;
      padding-top: 24px;
      padding-left: 15px;
    }
  }
  &-number{
    transition: .4s;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 140px;
    right: 50px;
  }
  &-item_active, .no-touch &-item:hover {
    border-bottom: 4px solid #25aae1 !important;
    transition: 400ms;
  }
}
.header__label {
    display: none;
    position: absolute;
    left: 24px;
    top: 29px;
    align-items: center;
}
.logo__tablet-menu {
    position: absolute;
    left: 60px;
    top: 15px;
    height: 38px;
}
.header__number {
    position: absolute;
    right: 38px;
    align-items: center;
    opacity: 1;
    transition: 0.8s;
}
.header__settings {
    &-burger {
        display: none;
    }
    //line-height: 2.25;
    //text-decoration: none;
    //display: flex;
    //justify-content: space-around;
}
.header__city{
  position: relative;
  z-index: 1;
  &-text{
    color: white;
    padding: 20px;
    transition: .4s;
  }
  &-list {
    position: absolute;
    left: 50%;
    background: white;
    width: 162px;
    text-align: center;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: -81px;
    top: 60px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: -7px;
      margin-left: -8px;
      width: 16px;
      height: 8px;
      background: url("../img/i.svg");
      background-position: center;
      background-size: cover;
    }
  }
  &-item {
    font-size: 14px;
    align-items: center;
    padding: 13px 30px;
    color: black;
    & li{border-bottom: 1px solid #fafafc;}
    &:last-child {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    &:first-child {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
  }
   .no-touch &-item:hover {
    background: #25aae1;
    color: white;
  }
}
.header__lang{
  position: relative;
    &-text{
      color: white;
      border: 1px solid white;
      border-radius: 12px;
      padding: 7px 11px;
      position: relative;
      font-size: 9px;
      margin-bottom: 25px;
    }
    &-list{
      position: absolute;
      left: 50%;
      width: 54px;
      margin-left: -27px;
      top: 43px;
      text-align: center;
      border-radius: 7px;
      background-color: white;
      flex-direction: column;
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: -7px;
        margin-left: -8px;
        width: 16px;
        height: 8px;
        background: url("../img/i.svg");
        background-position: center;
        background-size: cover;
      }
    }
  &-item{
    font-size: 12px;
    border-color: #fafafc;
    display: block;
    overflow: hidden;
    padding-top: 7px;
    padding-bottom: 7px;
    &:not(:last-child) {
      border-bottom: 1px solid #fff;
    }
    &:last-child {
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
    }
    &:first-child {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }

    .no-touch &:hover{
      background: #25aae1;
      color: white;
    }
  }
}
.header__burger{
    &-text{
        display: block;
        padding: 16px;
        height: 48px;
        width: 100%;
    }
    &-list{
        position: relative;
        padding-left: 15px;
        height: 1px;
        display: none;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
        transition: 800ms;
    }
    &-list a {font-size: 12px;}
    width: 100%;
}
#header__menu:checked ~ #touch-menu .header__number{opacity: 0}
#header__menu:checked ~ .header__label .header__label_passive {
    display: none;
}

#header__menu:checked ~ .header__label .header__label_active {
    display: block;
}

#header__menu:not(checked) ~ .header__label .header__label_passive {
    display: block;
}

#header__menu:not(checked) ~ .header__label .header__label_active {
    display: none;
}

#touch-menu{display:none;}
@media(max-width: 1100px) {
    .header_{
      &_settings{display: none;}
      &_city{display: none;}
      &_lang{display: none}
    }
    .header__label {
        display: block;
    }
    .header__settings-burger{
        display: block;
    }
    .header__burger{
      &-lang {
        display: flex;
        padding: 15.7px;
      }
      &-list{
        & a{
          font-size: 12px;
          height: 36px;
          padding-left: 20px;
          padding-top: 12px;
          padding-bottom: 12px;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .burger__lang{
        font-size: 9px;
        display: block;
        padding: 6px 10px;
        border-radius: 12px;
        border: 1px solid #fff;
    }
    .burger__lang-current{
      font-size: 9px;
      display: block;
      padding: 6px 10px;
      border-radius: 12px;
      border: 1px solid #000000;
    }
    #header__nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        background: #fff;
        border-bottom: none;
        transition: 800ms;
        position: fixed;
        left: 100%;
        top: 69px;
        bottom: 0;
        width: 100%;
    }
    #controller:checked ~ .header__burger{
        &-list{
            height: auto;
            display: flex;
            transition: 800ms;
        }
    }
    #header__menu:checked ~ #header__nav {left: 0;}
    #header__menu:checked ~ #touch-menu{background: #ffffff;}
    .header__items {
        height: auto;
        overflow-x: scroll;
        background: #fff;
        border-bottom: none;
      &-number{
        display: none;
      }
    }
    .header__items a {
        color: black;
        border-bottom: none;
    }
  .no-touch .header__items a:hover {
        color: #fff;
        background: #25aae1;
        transition: 500ms;
        border-bottom: none;
    }
    #touch-menu {
        display: block;
        transition: 1s;
        width: 100%;
        border-bottom: none;
        border-bottom: 1px solid #50a2d2;
    }
    #burger__rus:checked ~ .burger__lang-rus{border-color: #000000;}
    #burger__eng:checked ~ .burger__lang-eng{border-color: #000000;}
    #burger__ukr:checked ~ .burger__lang-ukr{border-color: #000000;}

}
.header__city-item {
  display: block;
  color: #000;
}
.header__lang-item {
  color: #000;
}
@media(max-width: 450px) {
  .header__items{
    &-mobile{display: flex}
    &-item{
      height: 36px;
      font-size: 16px;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 15px;
    }
  }
  .header__burger{
    &-lang {
      padding: 12.03px;
    }
    &-text {
      font-size: 16px;
      height: 36px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    &-list a{
      height: 36px;
      padding-left: 36px;
      padding-bottom: 12px;
      padding-top: 12px;
      font-size: 12px;
      vertical-align: middle;
    }
  }
  /*.header__items a, */#touch-menu{
                          height: 48px;
        padding: 7.5px 16px;
                        }
  .burger__lang{
    padding: 6px 15px;
  }
  #header{
    &__nav {
      transition: 700ms;
      height: 100%;
      top: 47px;
    }
  }
  .logo__tablet-menu {
    left: 49px;
    top: 7px;
    height: 31px;
  }
  .header__label {
    display: block;
    left: 17px;
    top: 18px;
  }
  .header__number {display: none;}
}
