.trends *{
  font-family: "Open Sans";
}
.trends {
  background-image: url("../img/trends/bgimage.png");
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 120px;
  &__slide{
    width: 100%;
    height: 350px;
  }
  &__img{
    width: 100%;
    position: relative;
    padding: 0;
    height: auto;
    &-overflow{
      background-color: #051030;
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      margin: 0;
      top: 0;

    }
  }
  &__arrow {
    filter: invert(1);
    position: absolute;
    width: 24px;
    height: 24px;
    right: 55px;
    bottom: 40px;
    z-index: 2;
    cursor: pointer;
    &_left {
      right: 115px;
    }
  }
  &__slick{
    position: relative;
    width: 100%;
  }
  &__tortoise{
    position: absolute;
    top: 920px;
    right: 10px;
  }
  &__text{
    text-align: center;
    color: white;
    font-size: 36px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 92px;
    font-family: "Open Sans";
    padding-bottom: 60px;
  }
  &__nav-wrapper{
    max-height: 200px;
    position: static !important;
  }
  &__nav-wrapper{
    max-height: 240px;
  }
  &__wrapper {
    max-width: 1400px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
    width: 96%;
  }
  &__choise {
    display: flex;
    flex-direction: column;
    width: 325px;
  }
  &__first-level-nav {
    display: flex;
    flex-direction: column;
    max-height: 330px;
  }
  &__second-level-nav {
    display: none;
    flex-direction: column;
    max-height: 400px;
  }
  &__first-level-nav-text {
    font-family: "Open Sans";
    color: white;
    font-size: 16px;
    line-height: 1.5;
    padding: 50px 30px;
    background: #25aae1;
    &:not(:last-child) {
      border-bottom: 1px solid #5ebce3;
    }
  }
  &__second-level-nav-text {
    background: #2199ca;
    border-left: 5px solid #2199ca;
    color: white;
    padding: 25px 30px;
    &:not(:last-child) {
      border-bottom: 1px solid #5ebce3;
    }
  }
  &__content {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: calc(100% - 325px);
  }
  &__content-wrapper {
    position: relative;
    display: flex;
  }
  &__content-left {
    background: #FFFFFF;
    width: calc(100% - 325px);
    &-h2, & p{
      padding-left: 54px;
      padding-top: 25px;
      padding-right: 30px;
    }
    & p{
      color: #212121;
      padding-bottom: 50px;
      line-height: 1.25;
    }
    & a{
      padding-left: 54px;
      color: #212121;
      display: flex;
    }
    &-h2{
      padding-top: 50px;
      color: black;
      font-size: 24px;
      font-family: "Open Sans";
      font-weight: bold;
    }
  }
  &__content-right {
    background: #fafafc;
    width: 325px;
    &-info {
      border-bottom: 1px solid #f4f4f6;
      & p, & h4{
        font-family: "Open Sans";
        padding-left: 27px;
      }
      & li{
        font-family: "Open Sans";
        list-style-type: none;
        padding-left: 40px;
        padding-bottom: 25px;
        line-height: 1.25;
        position: relative;
        &:before{
          content: url("../img/trends/listyle.svg");
          position: absolute;
          left: 27px;
          top: -1px;
        }
      }
      & h4{
        padding-top: 58px;
        padding-bottom: 27px;
      }
      & p {padding-bottom: 60px;}
    }
    &-price{
      & span{
        font-size: 30px;
        font-family: "Open Sans";
        color: #25aae1;
      }
      &-value{
        padding-left: 40px;
        padding-bottom: 40px;
        font-size: 15px;
        font-family: "Open Sans";
      }
      & a {color: #25aae1;}
      &-btn1{
        color: white;
        background-color: #25aae1;
        border-radius: 24px;
        padding: 15px 75px;
        margin-bottom: 24px;
        width: 270px;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
      }
      &-btn2{
        cursor: pointer;
        background-color: #ffd600;
        border-radius: 24px;
        padding: 15px 92.5px;
        margin-bottom: 48px;
        width: 270px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.trends__content-left img {
  display: block;
}
// Магия - не трогать
.trends__first-level_controller:checked + .trends__first-level-nav .trends__second-level-nav {
  display: flex;
}
.trends__second-level_controller_1:checked {
  & ~ .trends__second-level-nav-text_1 {
    background: #fff;
    color: #1f88b3;
    border-left: 5px solid #f8f8f8;
  }
  & ~ .trends__content_1 {
    display: flex;
  }
}
.trends__second-level_controller_2:checked {
  & ~ .trends__second-level-nav-text_2 {
    background: #fff;
    color: #1f88b3;
    border-left: 5px solid #f8f8f8;
  }
  & ~ .trends__content_2 {
    display: flex;
  }
}
.trends__second-level_controller_3:checked {
  & ~ .trends__second-level-nav-text_3 {
    background: #fff;
    color: #1f88b3;
    border-left: 5px solid #f8f8f8;
  }
  & ~ .trends__content_3 {
    display: flex;
  }
}

.trends__second-level_controller_4:checked {
  & ~ .trends__second-level-nav-text_4 {
    background: #fff;
    color: #1f88b3;
    border-left: 5px solid #f8f8f8;
  }
  & ~ .trends__content_4 {
    display: flex;
  }
}
.trends__second-level_controller_5:checked {
  & ~ .trends__second-level-nav-text_5 {
    background: #fff;
    color: #1f88b3;
    border-left: 5px solid #f8f8f8;
  }
  & ~ .trends__content_5 {
    display: flex;
  }
}
.trends__second-level_controller_6:checked {
  & ~ .trends__second-level-nav-text_6 {
    background: #fff;
    color: #1f88b3;
    border-left: 5px solid #f8f8f8;
  }
  & ~ .trends__content_6 {
    display: flex;
  }
}
.trends__second-level_controller_7:checked {
  & ~ .trends__second-level-nav-text_7 {
    background: #fff;
    color: #1f88b3;
    border-left: 5px solid #f8f8f8;
  }
  & ~ .trends__content_7 {
    display: flex;
  }
}
.trends__second-level_controller_8:checked {
  & ~ .trends__second-level-nav-text_8 {
    background: #fff;
    color: #1f88b3;
    border-left: 5px solid #f8f8f8;
  }
  & ~ .trends__content_8 {
    display: flex;
  }
}
.trends__second-level_controller_9:checked {
  & ~ .trends__second-level-nav-text_9 {
    background: #fff;
    color: #1f88b3;
    border-left: 5px solid #f8f8f8;
  }
  & ~ .trends__content_9 {
    display: flex;
  }
}
.trends__second-level_controller_10:checked {
  & ~ .trends__second-level-nav-text_10 {
    background: #fff;
    color: #1f88b3;
    border-left: 5px solid #f8f8f8;
  }
  & ~ .trends__content_10 {
    display: flex;
  }
}

.trends-city {
  display: block;
  width: fit-content;
  padding-bottom: 10px;
  padding-top: 30px;
  margin-left: 40px;
  &__text {
    font-family: "Open Sans";
  }
  &__list {
    position: absolute;
    left: 50%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 120px;
    margin-left: -60px;
  }
  &__item {
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    height: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    &:hover {
      background-color: #25aae1;
      color: #ffffff;
    }
  }
  &-arrow{
    position: absolute;
    right: -15px;
    top: 38px;
  }
}

.trends__content-left-more {
  transition: .3s;
  opacity: 0;
}
.trends__content-left:hover {
  & .trends__img-overflow {
    opacity: 0.6;
    transition: .3s;
  }
  & .trends__content-left-more {
    opacity: 1;
    cursor: pointer;
  }
  & .trends__content-left-h2{
    color: #25aae1;
    transition: 700ms;
  }
}

@media (max-width: 1230px){
  .trends{
    &__slide, &__slick {
      height: 250px;
    }
  }
}

@media(max-width: 1100px){
  .trends__choise{
    width: 100%;
  }
  .trends__wrapper {
    overflow: unset;
  }
  .trends__wrapper{
    margin-bottom: 700px;
  }
  .trends{
    padding-bottom: 800px;
    &__slide, &__slick{
      height: 400px;
    }
    &__tortoise{
      display: none;
    }
    &__text{
      font-size: 24px;
      padding-bottom: 65px;
      padding-top: 75px;
    }
    &-city{
      padding-top: 58px;
      &-arrow{
        top: 66px;
      }
    }
    &__content{
      top: 100%;
      width: 100%;
      bottom: inherit;
      flex-direction: column;
      &-wrapper{
        top: 100%;
        width: 100%;
        bottom: inherit;
        flex-direction: column;
      }
      &-right{
        position: relative;
        flex-direction: row;
        width: 100%;
        display: flex;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        &-info{
          width: 50%;
          border-bottom: 0;
          border-right: 1px solid #f4f4f6;
          display: block;
          height: fit-content;
        }
        &-price{
          display: block;
          width: 50%;
        }
      }
    }
    &__content-left{
      position: relative;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 325px;
      & h2, & p {
        padding-left: 40px;
      }
    }
    &__content-right{
      top: 0;
      right: 0;
      bottom: 0;
      position: relative;
    }
    &__first-level-nav-text{
      padding: 24px;
      text-align: center;
    }
    &__second-level-nav-text{
      padding: 14px;
      text-align: center;
      max-height: 200px;
    }
  }
  .trends__first-level-nav:first-of-type .trends__first-level-nav-text {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}

@media(max-width: 600px){
  .trends{
    padding-bottom: 900px;
    background: #1179a3;
    &__nav-wrapper{
      max-height: 165px;
    }
    &__text{
      text-align: left;
      padding-left: 17px;
      padding-bottom: 30px;
      padding-top: 50px;
    }
    &__content-right{
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      flex-direction: column;
      &-info{
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #f4f4f6;
        & h4{
          padding-left: 17px;
          padding-top: 30px;
        }
        & p{
          padding-left: 17px;
          padding-bottom: 17px;
        }
        & li{
          &:before{
            left: 20px;
          }
        }
      }
      &-right{
        &-price{
          width: 100%;
          padding-left: 17px;
        }
      }
      &-price-value{
        padding-left: 17px;
      }
    }
    &__content-left{
      & p{
        padding-left: 17px;
        padding-top: 0;
      }
      & h2{
        padding-top: 28px;
        padding-left: 17px;
        padding-bottom: 14px;
      }
    }
    &-city{
      padding-top: 33px;
      margin-left: 17px;
      &-price-value{
        padding-left: 17px;
      }
      &-arrow{
        top: 40px;
      }
    }
  }
  .trends__content-right-price {
    width: 100%;
  }
}
